<%- include('partials/header') %>
<div class="error-page">
  <div class="error-page__content">
    <div class="error-page__icon"><i class="fas fa-bicycle"></i></div>
    <h1>404</h1>
    <h2>Oops! You took a wrong turn.</h2>
    <p>The page you're looking for doesn't exist or has been moved.</p>
    <div class="error-page__actions">
      <a href="/" class="btn btn--primary btn--lg"><i class="fas fa-home"></i> Go Home</a>
      <a href="/bikes" class="btn btn--outline btn--lg"><i class="fas fa-bicycle"></i> Browse Bikes</a>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
